.welcome{
    margin: -1rem -1rem 0;
    padding: 2rem 10rem 6rem;
    color: white;
    font-size: 1.25rem;
    background-color: rgb(56, 12, 107);
}

.welcome-header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.welcome-header > img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transform: rotateZ(-5deg);
}

.welcome-header > h1{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.latest-posts{
    width: 30rem;
    margin: -2.5rem 10rem auto; 
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 5px 5px 2.5px #aaaaaa;
    background-color: white;
}

@media screen and (min-width: 1000px) {
    .latest-posts{
        width: 70%;
        max-width: 45rem;
        margin: -2.5rem 10.5rem auto; 
        text-align: center;
        border: 1px solid white;
        border-radius: 10px;
        box-shadow: 5px 5px 2.5px #aaaaaa;
        background-color: white;
    }
}

@media screen and (min-width: 1200px) {
    .latest-posts{
        width: 60rem;
        margin: -2.5rem 12.5rem auto; 
        text-align: center;
        border: 1px solid white;
        border-radius: 10px;
        box-shadow: 5px 5px 2.5px #aaaaaa;
        background-color: white;
    }
}

@media screen and (min-width: 1400px) {
    .latest-posts{
        width: 60rem;
        margin: -2.5rem 30rem auto; 
        text-align: center;
        border: 1px solid white;
        border-radius: 10px;
        box-shadow: 5px 5px 2.5px #aaaaaa;
        background-color: white;
    }
}

.about{
    margin: 2rem -1rem 0;
    padding: 1rem;
    text-align: center;
    background-color: rgba(218, 145, 10, 0.842);
}