body{
    font-family: sans-serif;
    background-color: rgb(201, 212, 221);
}

ul{
    list-style: none;
}

.main-nav {
    margin: -1rem -1rem 0.5rem;
    padding: 2rem 10rem 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    background-color: rgb(56, 12, 107);
}

.main-nav > nav{
    margin-top: 2rem;
    display: inline;
}

.main-nav #anchor{
    margin-left: 1rem;
    text-decoration: none;
    color: white;
}

.main-nav #anchor:hover,
.main-nav #anchor:active {
    color: rgb(126, 62, 199);
}
